.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

svg {
  width: 6.4rem;
  height: 6.4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--primary);
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 2.4rem;
  transition: all 0.1s ease-in-out;
}
