.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  color: var(--primary);
  font-size: 4.2rem;
}

svg {
  width: 6.4rem;
  height: 6.4rem;
}
